.codeSnippet {
  background-color: black;
  color: #00ff00;
  padding: 10px;
  border-radius: 5px;
  font-family: monospace;
  overflow-x: auto;
}
button.accordion-button {
  font-weight: 600;
  font-size: 25px;
}
.card {
  margin-bottom: 10px;
  box-shadow: 5px 5px #f0f0f0;
}
.body {
  padding: 20px;
}
