.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html,
body {
  height: 100%; /* Make sure the html and body elements stretch to the full height of the viewport */
}

#root {
  display: flex;
  flex-direction: column; /* Orient children (your content and footer) in a column */
  /*  min-height: 100vh; /* Ensure the root element takes at least the viewport height */
}
html,
body,
#root {
  height: 100%;
}

body {
  margin: 0; /* Remove default margin */
}
main.flex-grow-1 {
  display: flex; /* If not already flex */
  flex-direction: column; /* Encourage vertical expansion */
  min-height: 0; /* Prevent flexbox bugs on certain browsers */
}
.box {
  margin-bottom: 20px !important;
  box-shadow: 5px 5px #f0f0f0;
}
.min-vh-100 {
  min-height: auto !important;
}
